{% extends 'base.html' %}

{% block body %}
    <h1>Usuarios</h1>

    <div class="d-flex justify-content-between align-items-center">
        <h1>Usuarios</h1>
        <a class="btn btn-info btn-sm " href="{% url 'agregar_usuarios' %}">Agregar</a>


    </div>
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th></th>
           
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.person}}</td>
            <td>{{usuario.position}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.phone}}</td>

                    
<td>
    <div class="gap-2 d-flex justify-content-end ">

        <a href="{% url 'actualizar_usuarios' usuario.uuid  %}" class="btn btn-warning btn-sm">Modificar</a>
        <a href="#" class="btn btn-danger btn-sm">Eliminar</a>
    </div>


</td>
        </tr>

        



        {% endfor %}
    </table>
{% endblock %}