{% extends 'base.html' %}

{% block body %}
    <h1>Agregar cliente</h1>
    <form method="post">
        {% csrf_token %}
          <div class="row">
            <div class="col-12">
                {{form.person.label_tag}}
                {{form.person}}
            </div>
            <div class="col-12">
                {{form.address.label_tag}}
                {{form.address}}
            </div>
    
            <div class="col-12">
                {{form.phone.label_tag}}
                {{form.phone}}
    
    
            </div>
            </div>
           

        
      <button class="btn btn-danger mt-3" >Guardar</button>
    </form>
{% endblock %}

